li{
    list-style-type: none;
    font-size: 1.5rem;
}
.top{
    border: .5px solid black;
    padding-bottom: 40px;
    margin: 10px;
   
    display: block; 
    background-color: #fff; 
    border-radius: 5px;
}
.remove{
    display: block;
}

.text{
    font-size: 1.5rem;
    padding-left: 36px;
}